In [4]:
# We will first load the sql extension into our environment
%load_ext sql

# Then connect to our in memory sqlite database
# NB: This database will cease to exist as soon as the database connection is closed. 
%sql sqlite://

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: @None'

In [5]:
# Importing Pandas
import pandas as pd
# Importing numpy
import numpy as np

In [6]:
#Loading the Telcom datasets 
#We create a URL to Excel file (alternatively this can be a filepath)
url = '/content/Telcom_dataset.csv'

# Then load the first sheet of the Excel file into a data frame
Telcom_dataframe1 = pd.read_csv(url)

# Lastly, view the first ten rows
Telcom_dataframe1.head(10)

  PRODUTC  VALUE               DATETIME  ... COUNTRY_B     CELL_ID     SITE_ID
0   Voice      0  2012-05-06 23:04:37.0  ...     19e2e  /TJNe+Mmtu  /TJNe+Mmtu
1     sms      0  2012-05-06 23:05:25.0  ...     19e2e  /+cKZKIp41  /+cKZKIp41
2     sms     25  2012-05-06 23:05:41.0  ...     19e2e  /u0FSD+ahi  /u0FSD+ahi
3   Voice     56  2012-05-06 23:05:42.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4   Voice     14  2012-05-06 23:06:29.0  ...     19e2e  051KhYDCpv  051KhYDCpv
5    data      0  2012-05-06 23:07:26.0  ...     OTHER  /lrUXVGVcN  /lrUXVGVcN
6   Voice      0  2012-05-06 23:08:02.0  ...     19e2e  +38u2u/rfx  +38u2u/rfx
7   Voice      0  2012-05-06 23:08:03.0  ...     19e2e  09UjmmY1Ds  09UjmmY1Ds
8   Voice      0  2012-05-06 23:08:05.0  ...     19e2e  0DeimCpZOc  0DeimCpZOc
9     sms      0  2012-05-06 23:08:43.0  ...     19e2e  01MDiY5F89  01MDiY5F89

[10 rows x 10 columns]

In [7]:
#Cleaning the data
#Find and remove null/missing values and duplicates
#
#drop duplicates from the dataframe
Telcom1_dropped_duplicates = Telcom_dataframe1.drop_duplicates()
#delete missing values from the dataframe
#
Telcom_dataframe1_no_missing = Telcom1_dropped_duplicates.dropna()
Telcom_dataframe1_no_missing
#delete rows with no data at all
#
Telcom_dataframe1_final = Telcom_dataframe1_no_missing.dropna(how='all')
Telcom_dataframe1_final

     PRODUTC  VALUE               DATETIME  ... COUNTRY_B     CELL_ID     SITE_ID
0      Voice      0  2012-05-06 23:04:37.0  ...     19e2e  /TJNe+Mmtu  /TJNe+Mmtu
1        sms      0  2012-05-06 23:05:25.0  ...     19e2e  /+cKZKIp41  /+cKZKIp41
2        sms     25  2012-05-06 23:05:41.0  ...     19e2e  /u0FSD+ahi  /u0FSD+ahi
3      Voice     56  2012-05-06 23:05:42.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4      Voice     14  2012-05-06 23:06:29.0  ...     19e2e  051KhYDCpv  051KhYDCpv
...      ...    ...                    ...  ...       ...         ...         ...
4996     sms    100  2012-05-07 00:01:54.0  ...     OTHER  0c2371d9bc  1e751d08a4
4997   Voice      1  2012-05-07 00:01:54.0  ...     19e2e  5fb791cf56  65efe2bc62
4998   Voice      0  2012-05-07 00:01:54.0  ...     19e2e  7773627c12  9ef9616350
4999   Voice      0  2012-05-07 00:01:54.0  ...     19e2e  3f4af49d6c  969b8d0e39
5000   Voice      7  2012-05-07 00:01:54.0  ...     19e2e  6f4d9b77a5  ebfc58af70

[4215 rows x 10 columns]

In [8]:
#We create a URL to Excel file (alternatively this can be a filepath)
url2 = '/content/Telcom_dataset2.csv'

# Then load the first sheet of the Excel file into a data frame
Telcom_dataframe2 = pd.read_csv(url2)

# Lastly, view the first ten rows
Telcom_dataframe2.head(10)

  PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B     CELL_ID     SITE_ID
0     sms      0  2012-05-07 23:02:06.0  ...     19e2e  +854AcBQT2  +854AcBQT2
1   Voice      0  2012-05-07 23:03:44.0  ...     19e2e  +854AcBQT2  +854AcBQT2
2     sms      0  2012-05-07 23:04:06.0  ...     19e2e  +laSrk7g6q  +laSrk7g6q
3   Voice     37  2012-05-07 23:04:48.0  ...     19e2e  /xvRrCVKoQ  /xvRrCVKoQ
4     sms     25  2012-05-07 23:04:58.0  ...     19e2e  +bO+qkSonO  +bO+qkSonO
5     sms      0  2012-05-07 23:05:41.0  ...     19e2e  /MMplBlWjh  /MMplBlWjh
6   Voice     41  2012-05-07 23:06:14.0  ...     19e2e  +laSrk7g6q  +laSrk7g6q
7   Voice     11  2012-05-07 23:06:28.0  ...     19e2e  +gySf02tKW  +gySf02tKW
8     sms      0  2012-05-07 23:06:35.0  ...     OTHER  /0FxP3az1x  /0FxP3az1x
9     sms      0  2012-05-07 23:06:50.0  ...     19e2e  0ecjmwPX21  0ecjmwPX21

[10 rows x 10 columns]

In [9]:
#Cleaning the data
#Find and remove null/missing values and duplicates
#
#drop duplicates from the dataframe
Telcom2_dropped_duplicates = Telcom_dataframe2.drop_duplicates()
#delete missing values from the dataframe
#
Telcom_dataframe2_no_missing = Telcom2_dropped_duplicates.dropna()
Telcom_dataframe2_no_missing
#delete rows with no data at all
#
Telcom_dataframe2_final = Telcom_dataframe2_no_missing.dropna(how='all')
Telcom_dataframe2_final

     PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B     CELL_ID     SITE_ID
0        sms      0  2012-05-07 23:02:06.0  ...     19e2e  +854AcBQT2  +854AcBQT2
1      Voice      0  2012-05-07 23:03:44.0  ...     19e2e  +854AcBQT2  +854AcBQT2
2        sms      0  2012-05-07 23:04:06.0  ...     19e2e  +laSrk7g6q  +laSrk7g6q
3      Voice     37  2012-05-07 23:04:48.0  ...     19e2e  /xvRrCVKoQ  /xvRrCVKoQ
4        sms     25  2012-05-07 23:04:58.0  ...     19e2e  +bO+qkSonO  +bO+qkSonO
...      ...    ...                    ...  ...       ...         ...         ...
4994     sms      0  2012-05-08 00:01:53.0  ...     19e2e  f54e480df9  928a59b635
4995     sms     25  2012-05-08 00:01:53.0  ...     19e2e  0e8763bdaa  eefd93f0b4
4996     sms      0  2012-05-08 00:01:53.0  ...     19e2e  896459aace  b7d00e59e4
4997     sms     25  2012-05-08 00:01:53.0  ...     19e2e  7e90b35166  211015b14d
4998     sms      0  2012-05-08 00:01:53.0  ...     19e2e  fe70e431df  c7ea989264

[4263 rows x 10 columns]

In [10]:
#We create a URL to Excel file (alternatively this can be a filepath)
url3 = '/content/Telcom_dataset3.csv'

# Then load the first sheet of the Excel file into a data frame
Telcom_dataframe3 = pd.read_csv(url3)

# Lastly, view the first ten rows
Telcom_dataframe3.head(10)

  PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B      CELLID     SIET_ID
0   Voice     61  2012-05-08 23:01:28.0  ...     19e2e  +38u2u/rfx  +38u2u/rfx
1     sms      0  2012-05-08 23:01:31.0  ...     19e2e  +Fs4mTvdKx  +Fs4mTvdKx
2   Voice     10  2012-05-08 23:02:59.0  ...     19e2e  +ZaaZozy/+  +ZaaZozy/+
3     sms      0  2012-05-08 23:03:04.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4   Voice     22  2012-05-08 23:03:16.0  ...     19e2e  /eeMklgyJA  /eeMklgyJA
5   Voice     10  2012-05-08 23:03:59.0  ...     19e2e  +e+xcimwre  +e+xcimwre
6     sms      0  2012-05-08 23:06:06.0  ...     19e2e  +R5ccmtyJf  +R5ccmtyJf
7   Voice     10  2012-05-08 23:06:55.0  ...     19e2e  +ZaaZozy/+  +ZaaZozy/+
8     sms     25  2012-05-08 23:07:09.0  ...     19e2e  13O1+JEun3  13O1+JEun3
9     sms      0  2012-05-08 23:07:38.0  ...     19e2e  /eeMklgyJA  /eeMklgyJA

[10 rows x 10 columns]

In [11]:
#Cleaning the data
#Find and remove null/missing values and duplicates
#
#drop duplicates from the dataframe
Telcom3_dropped_duplicates = Telcom_dataframe3.drop_duplicates()
#delete missing values from the dataframe
#
Telcom_dataframe3_no_missing = Telcom3_dropped_duplicates.dropna()
Telcom_dataframe3_no_missing
#delete rows with no data at all
#
Telcom_dataframe3_no_data = Telcom_dataframe3_no_missing.dropna(how='all')
Telcom_dataframe3_no_data
#rename the 'SIET_ID' column 
#
Telcom_dataframe3_final = Telcom_dataframe3_no_data.rename(columns = {'SIET_ID':'SITE_ID'}, inplace=False)
Telcom_dataframe3_final

     PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B      CELLID     SITE_ID
0      Voice     61  2012-05-08 23:01:28.0  ...     19e2e  +38u2u/rfx  +38u2u/rfx
1        sms      0  2012-05-08 23:01:31.0  ...     19e2e  +Fs4mTvdKx  +Fs4mTvdKx
2      Voice     10  2012-05-08 23:02:59.0  ...     19e2e  +ZaaZozy/+  +ZaaZozy/+
3        sms      0  2012-05-08 23:03:04.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4      Voice     22  2012-05-08 23:03:16.0  ...     19e2e  /eeMklgyJA  /eeMklgyJA
...      ...    ...                    ...  ...       ...         ...         ...
4995   Voice     10  2012-05-09 00:01:43.0  ...     OTHER  6467daa1db  8a96bae9c1
4996   Voice      0  2012-05-09 00:01:43.0  ...     19e2e  2aa04dcab7  f7d63a29e5
4997   Voice     62  2012-05-09 00:01:43.0  ...     19e2e  7f1f2f889f  b4ddb9e93c
4999   Voice     30  2012-05-09 00:01:43.0  ...     19e2e  98ed726da2  b4130b54ab
5000   Voice     60  2012-05-09 00:01:43.0  ...     19e2e  1c11a2fcbb  6d70dae094

[4311 rows x 10 columns]

In [12]:
#We create a URL to Excel file (alternatively this can be a filepath)
url4 = '/content/cells_geo.csv'

# Then load the first sheet of the Excel file into a data frame
Geo_dataframe1 = pd.read_csv(url4)

# Lastly, view the first ten rows
Geo_dataframe1.head(10)

     VILLES      STATUS LOCALISATION  ... AREA     CELL_ID   SITE_CODE
0    ADJAME  In Service      ABIDJAN  ...  NaN  fbb2e75af3  0bb492ef17
1    ADJAME  In Service      ABIDJAN  ...  NaN  1502501d78  0bb492ef17
2    ADJAME  In Service      ABIDJAN  ...  NaN  0c2e182a0c  0bb492ef17
3   ASSINIE  In Service    INTERIEUR  ...  NaN  69bdfc69fd  8a1e6ce31f
4   ASSINIE  In Service    INTERIEUR  ...  NaN  7a1029d2ab  8a1e6ce31f
5   ASSINIE  In Service    INTERIEUR  ...  NaN  0b4f56438f  8a1e6ce31f
6  KRIKOREA  In Service    INTERIEUR  ...  NaN  041d2504f5  260dbfedc5
7     ABOBO  In Service      ABIDJAN  ...  NaN  a70c1d263b  56306cc7ca
8     ABOBO  In Service      ABIDJAN  ...  NaN  e2d04ea883  56306cc7ca
9     ABOBO         NaN      ABIDJAN  ...  NaN  ee224cd27e  56306cc7ca

[10 rows x 11 columns]

In [13]:
#Cleaning the data
#Find and remove null/missing values and duplicates
#
#drop duplicates from the dataframe
Geo_dataframe_drop_duplicates = Geo_dataframe1.drop_duplicates()
#delete missing values from the dataframe
#
Geo_dataframe_no_missing = Geo_dataframe_drop_duplicates.dropna()
Geo_dataframe_no_missing
#delete rows with no data at all
#
Geo_dataframe_no_data = Geo_dataframe_no_missing.dropna(how='all')
Geo_dataframe_no_data
#rename the 'SITE_CODE' column 
#
Geo_dataframe_final = Geo_dataframe_no_data.rename(columns = {'SITE_CODE':'SITE_ID'}, inplace=False)
Geo_dataframe_final

        VILLES      STATUS LOCALISATION  ...           AREA     CELL_ID     SITE_ID
23       ABOBO  In Service      ABIDJAN  ...  ABIDJAN NORTH  f740406877  0f34c36ac5
24       ABOBO  In Service      ABIDJAN  ...  ABIDJAN NORTH  959e54c8f7  0f34c36ac5
25       ABOBO  In Service      ABIDJAN  ...  ABIDJAN NORTH  56b7e7000c  0f34c36ac5
26       ABOBO  In Service      ABIDJAN  ...  ABIDJAN NORTH  bc51c17a6f  0f34c36ac5
27       ABOBO  In Service      ABIDJAN  ...  ABIDJAN NORTH  e460975c9f  0f34c36ac5
...        ...         ...          ...  ...            ...         ...         ...
3969  ZUENOULA  In Service    INTERIEUR  ...   CENTRE NORTH  1cfc2d7ab1  f91ed8d2e9
3970  ZUENOULA  In Service    INTERIEUR  ...   CENTRE NORTH  3ae1708153  f91ed8d2e9
3971  ZUENOULA  In Service    INTERIEUR  ...   CENTRE NORTH  cb71f8a29c  61bee9c70c
3972  ZUENOULA  In Service    INTERIEUR  ...   CENTRE NORTH  d4a6a0b645  61bee9c70c
3973  ZUENOULA  In Service    INTERIEUR  ...   CENTRE NORTH  f9f3e42589  61bee9c70c

[3863 rows x 11 columns]

In [16]:
#Merge the dataframes into a single dataset for analysis
#
Final_Telcom_dataframe = Telcom_dataframe1_final.merge(Telcom_dataframe2_final,on='SITE_ID').merge(Telcom_dataframe3_final,on='SITE_ID').merge(Geo_dataframe_final,on='SITE_ID')
Final_Telcom_dataframe

        PRODUTC  VALUE_x  ...          AREA     CELL_ID
0           sms        0  ...  CENTRE NORTH  24ccdda3d5
1           sms        0  ...  CENTRE NORTH  ebfc58af70
2           sms        0  ...  CENTRE NORTH  ba8ce6e4ef
3           sms        0  ...  CENTRE NORTH  c2545171dc
4           sms        0  ...  CENTRE NORTH  f15bd5483f
...         ...      ...  ...           ...         ...
1744597   Voice        0  ...    NORTH WEST  e899016a7d
1744598   Voice        0  ...    NORTH WEST  f4271c1bc1
1744599   Voice        0  ...    NORTH WEST  606bf8e75f
1744600   Voice        0  ...    NORTH WEST  e899016a7d
1744601   Voice        0  ...    NORTH WEST  f4271c1bc1

[1744602 rows x 38 columns]

In [19]:
# Create a groupby variable that groups product by Region 
#This will allow us to see what MTN product is most used in certain regions 
#
Telcom_groupby= Final_Telcom_dataframe['PRODUTC'].groupby(Final_Telcom_dataframe['REGION'])
Telcom_groupby

In [21]:
#This shows us the region tallies and top products in those regions.
#Voice services is the highest product for majority of the regions, while only a few use sms as the top product
#Infrastructure should be biased towards voice-centered technologies 
# 
Telcom_groupby.describe()

                     count unique    top    freq
REGION
18 MONTAGNES         19068      2    sms   12624
AGNEBY                4965      2  Voice    2583
BAS SASSANDRA        46546      2  Voice   28481
DENGUELE              2358      2  Voice    1854
FROMAGER              4421      2  Voice    2919
HAUT SASSANDRA       66285      2    sms   34500
LACS                 48822      2  Voice   25278
LAGUNE             1431342      2    sms  733489
MARAHOUE              4170      2  Voice    3024
MOYEN CAVALLY         1686      2  Voice     966
MOYEN COMOE           2187      2  Voice    1857
NZI COMOE             6432      2  Voice    4341
SAVANE                6423      2  Voice    4587
SUD BANDAMA          43143      2  Voice   21986
SUD COMOE              408      2  Voice     216
VALLEE DU BANDAMA    25077      2  Voice   16416
WORODOUGOU           31266      2  Voice   17916
ZANZAN                   3      1  Voice       3